<%= form_for @case do |f| %>

<%= render 'shared/error_messages', object: f.object %> 

<div class="row">

<div class="col-md-4">
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :phone %>
		<%= f.phone_field :phone, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :work %>
		<%= f.text_field :work, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :relation %>
		<%= f.select :relation, ["父亲","母亲","其他"], class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :cname %>
		<%= f.text_field :cname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :ename %>
		<%= f.text_field :ename, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :gender %>
		<%= f.radio_button :gender, "男" %>
		<%= f.label '男' %>
		<%= f.radio_button :gender, "女" %>
		<%= f.label '女' %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<%= f.label :birthday %>
		<%= f.date_select :birthday, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :school_id %>
			<%= f.text_field :school_id, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :employee_id %>
			<%= f.text_field :employee_id, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :source_id %>
			<%= f.text_field :source_id, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :status %>
			<%= f.text_field :status, class: "form-control" %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
			<%= f.label :comment %>
			<%= f.text_area :comment, rows: "8", class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit %>
	</div>
</div>

</div>
<% end %>