<%= form_for @case do |f| %>

<%= render 'shared/error_messages', object: f.object %> 

<div class="row">

<div class="col-md-4">
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :phone %>
		<%= f.phone_field :phone, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :address %>
		<%= f.text_field :address, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :work %>
		<%= f.text_field :work, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :relation %>
		<%= f.select :relation, ["父亲","母亲","其他"], class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :cname %>
		<%= f.text_field :cname, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :ename %>
		<%= f.text_field :ename, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :gender %>
		<%= f.radio_button :gender, "男" %>
		<%= f.label '男' %>
		<%= f.radio_button :gender, "女" %>
		<%= f.label '女' %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
		<%= f.label :birthday %><br>
		<%= f.date_select :birthday, class: "select" %>
	</div>
	<div class="form-group">
			<%= f.label :school_id %>
			<%= f.select :school_id, School.all.collect{|p| [p.name, p.id]}, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :employee_id %>
			<%= f.select :employee_id, Employee.all.collect{|p| [p.name, p.id]}, class: "form-control" %>
	</div>
	<div class="form-group">
			<%= f.label :source_id %>
			<%= f.select :source_id,Source.all.collect {|p| [p.content, p.id]}, class: "form-control" %>
	</div>
</div>

<div class="col-md-4">
	<div class="form-group">
			<%= f.label :comment %>
			<%= f.text_area :comment, rows: "8", class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit class: "btn btn-lg btn-primary" %>
	</div>
</div>

</div>
<% end %>