<h1><%= t :cases_index %>(<%= @cases.count %>)</h1>
<p><%= link_to t(:new), new_case_path %></p>
<%= will_paginate %>
<table class="table table-hover">
	<thead>
		<th><%= t(:name) %></th>
		<th><%= t(:phone) %></th>
		<th><%= t(:address) %></th>
		<th><%= t(:relation) %></th>
		<th><%= t(:cname) %></th>
		<th><%= t(:ename) %></th>
		<th><%= t(:gender) %></th>
		<th><%= t(:birthday) %></th>
		<th><%= t(:school) %></th>
		<th><%= t(:employee_id) %></th>
		<th><%= t(:source) %></th>
		<th></th>
	</thead>
	<tbody>
		<% @cases.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.phone %></td>
			<td><%= c.address %></td>
			<td><%= c.relation %></td>
			<td><%= c.cname %></td>
			<td><%= c.ename %></td>
			<td><%= c.gender %></td>
			<td><%= c.birthday %></td>
			<td><%= c.school.name %></td>
			<td><%= c.employee_id %></td>
			<td><%= c.source.content %></td>
			<td><%= link_to t(:show), case_path(c) %></td>
			<td><%= link_to t(:delete), c, method: :delete, data: { confirm: t(:confirm_msg) } %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
