<h1>客户名单(<%= @cases.count %>)</h1>
<p><%= link_to '新增客户', new_case_path %></p>
<%= will_paginate %>
<table class="table">
	<thead>
		<th>家长姓名</th>
		<th>联系电话</th>
		<th>家庭住址</th>
		<th>工作单位</th>
		<th>关系</th>
		<th>孩子姓名</th>
		<th>孩子英文名</th>
		<th>性别</th>
		<th>出生日期</th>
		<th>就读学校</th>
		<th>课程顾问</th>
		<th>跟单情况</th>
		<th>信息来源</th>
		<th>最新状态</th>
		<th>备注</th>
		<th></th>
	</thead>
	<tbody>
		<% @cases.each do |c| %>
		<tr>
			<td><%= c.name %></td>
			<td><%= c.phone %></td>
			<td><%= c.address %></td>
			<td><%= c.work %></td>
			<td><%= c.relation %></td>
			<td><%= c.cname %></td>
			<td><%= c.ename %></td>
			<td><%= c.gender %></td>
			<td><%= c.birthday %></td>
			<td><%= c.school_id %></td>
			<td><%= c.employee_id %></td>
			<td><%= c.record_id %></td>
			<td><%= c.source_id %></td>
			<td><%= c.status %></td>
			<td><%= c.comment %></td>
			<td><%= link_to '编辑', edit_case_path(c) %></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate %>
