<h1><%= @case.name %></h1>

<dl class="dl-horizontal">
	<dt><%= t :phone %>:</dt>
	<dd><%= @case.phone %></dd>
	<dt><%= t :address %>:</dt>
	<dd><%= @case.address %></dd>
	<dt><%= t :work %>:</dt>
	<dd><%= @case.work %></dd>
	<dt><%= t :relation %>:</dt>
	<dd><%= @case.relation %></dd>
	<dt><%= t :cname %>:</dt>
	<dd><%= @case.cname %></dd>
	<dt><%= t :ename %>:</dt>
	<dd><%= @case.ename %></dd>
	<dt><%= t :gender %>:</dt>
	<dd><%= @case.gender %></dd>
	<dt><%= t :birthday %>:</dt>
	<dd><%= @case.birthday %></dd>
	<dt><%= t :school %>:</dt>
	<dd><%= @case.school.name %></dd>
	<dt><%= t :employee %>:</dt>
	<dd><%= @case.employee_id %></dd>
	<dt><%= t :source %>:</dt>
	<dd><%= @case.source.content %></dd>
	<dt><%= t :status %>:</dt>
	<dd><%= @case.status %></dd>
	<dt><%= t :comment %>:</dt>
	<dd><%= @case.comment %></dd>
	<dt><%= t :record %>:</dt>
</dl>
<p><%= link_to t(:edit), edit_case_path %></p>