<%= form_for @record do |f| %>

<%= render 'shared/error_messages', object: f.object %> 

<div class="row">

<div class="col-md-4">
	<div class="form-group">
		<%= f.label '跟单记录' %>
		<%= f.text_area :comment, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit %>
	</div>

</div>
</div>
<% end %>
