<tr>
	<td><%= record.description %></td>
	<td><%= record.status %></td>
	<td><%= record.case_id %></td>
	<td><%= time_ago_in_words record.updated_at %></td>
	<td><%= link_to t(:edit), edit_record_path(record) %></td>
	<td><%= link_to t(:delete), record, method: :delete, data: { confirm: t(:confirm_msg) } %></td>
</tr>
