<h1><%= t :record %></h1>
<p><%= link_to t(:new), new_record_path %></p>

<table class="table">
	<tr>
		<td><%= t :comment %></td>
		<td><%= t :updated_at %></td>
		<td></td>
		<td></td>
	</tr>

	<%= render @records %>
</table>
