<tr>
	<td><%= school.name %></td>
	<td><%= school.address %></td>
	<td><%= school.contacts %></td>
	<td><%= school.phone %></td>
	<td><%= school.comment %></td>
	<td><%= time_ago_in_words school.updated_at %></td>
	<td><%= link_to t(:edit), edit_school_path(school) %></td>
	<td><%= link_to t(:delete), school, method: :delete, data: { confirm: t(:confirm_msg) } %></td>
</tr>