<h1><% t :school %></h1>
<p><%= link_to t(:new), new_school_path, class: "btn btn-primary" %></p>

<table class="table">
	<tr>
		<td><%= t :school_name %></td>
		<td><%= t :school_address %></td>
		<td><%= t :contacts %></td>
		<td><%= t :phone %></td>
		<td><%= t :comment %></td>
		<td><%= t :updated_at %></td>
		<td></td>
		<td></td>
	</tr>

	<%= render @schools %>
</table>